.app {
  display: flex;
}

.playground {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

.gameboardouter {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboardinner {
  display: inline-flex;
  flex-direction: column;
}

.gameboardcontrol {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.viewmodebutton {
  margin-right: .25rem;
  padding: 0.75rem 1rem;
  flex: 1;
  border: none;
  border-radius: 0.125rem;
  background-color: #e8e8f6;
  text-align: center;
  color: #4040b8;
  font-weight: bold;
  cursor: pointer;
  transition-duration: .15s;
}

.viewmodebutton:hover {
  background-color: #d5d5ef;
}

.submitbutton {
  margin-left: .25rem;
  padding: 0.75rem 1rem;
  flex: 1;
  border: none;
  border-radius: 0.125rem;
  background-color: #4040b8;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-duration: .15s;
}

.submitbutton:hover {
  background-color: #353597;
}

.blockspreview {
  width: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocksform {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}